{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-7 mx-auto">
			<b>imgs.ai</b> is a fast, dataset-agnostic, deep visual search engine for digital art history based on neural network embeddings. <i>imgs.ai</i> utilizes modern approximate k-NN algorithms via <a href="https://github.com/spotify/annoy">Spotify's Annoy library</a> to deliver fast search results even for very large datasets in low-resource environments, and integrates the <a href="https://openai.com/blog/clip/">OpenAI CLIP</a> model for text-based visual search. Try it on the complete <a href="https://www.rijksmuseum.nl">Rijksmuseum</a> collection (<a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a>) or <a href="{{ url_for('signup') }}">sign up</a> for an account to access more functions/datasets (institutional email address and approval required.) imgs.ai is developed by <a href="https://zentralwerkstatt.org">Fabian Offert</a>, with contributions by Peter Bell and Oleg Harlamov. Get in touch at <a href="mailto:hi@imgs.ai">hi@imgs.ai</a>.
		</div>
	</div>
	<div class="row">
		<div class="col-7 mx-auto text-center p-4">
			<a href="interface" class="btn btn-primary btn-lg">Start</a>
	</div>
</div>
{% endblock %}