{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<h3>Imprint</h3>
			</p>
				This website is offered by (legal representative):<br>
				<br>
				Deutsches Dokumentationszentrum für Kunstgeschichte - Bildarchiv Foto Marburg<br>
				Philipps-Universität Marburg<br>
				Dr. Christian Bracht<br>
				Biegenstraße 11<br>
				35037 Marburg<br>
				Deutschland<br>
				Tel. +49 6421 28 23600<br>
				Fax: +49 6421 28 28931<br>
				www.fotomarburg.de<br>
				bildarchiv@fotomarburg.de<br>
				<br>
				Editorial office for this website represented by:<br>
				<br>
				Dr. Fabian Offert<br>
				University of California, Santa Barbara<br>
				Santa Barbara, California 93106<br>
				United States of America<br>
				offert@ucsb.edu<br>
				<br>
				Prof. Dr. Peter Bell<br>
				Philipps-Universität Marburg<br>
				Biegenstraße 11<br>
				35037 Marburg<br>
				Deutschland<br>
				peter.bell@uni-marburg.de<br>
			</p>
		</div>
	</div>
</div>
{% endblock %}