{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<form id="upload" action="{{ url_for('interface') }}" method="POST" enctype="multipart/form-data"></form>
<form id="actions" action="{{ url_for('interface') }}" method="POST"></form>
<select hidden id="add-pos" name="add-pos" multiple form="actions"></select>
<select hidden id="remove" name="remove" multiple form="actions"></select>
<select hidden id="add-neg" name="add-neg" multiple form="actions"></select>
<input hidden id="file" type="file" name="file" multiple onchange="$('.container').hide(); this.form.submit()" form="upload">

<div class="container" style="visibility:hidden;">
	<div class="row">
		<div class="col">
			<b>imgs.ai is currently undergoing major updates</b> after moving to the servers of the <i>Deutsches Dokumentationszentrum für Kunstgeschichte - Bildarchiv Foto Marburg</i>. Temporarily, all logins and advanced functions are disabled. We will be in touch with more information soon. In the meantime, you can explore the Rijksmuseum dataset below.
		</div>
	</div>

	<hr>

	<!-- Query Images -->
	<div class="row">
		{% if session.pos_idxs %}
		<div class="col">
			<div>Positive:</div>
			<div class="grid pos">
				{% for idx in session.pos_idxs %}
				<div style="max-width: {{ session.size }}px" class="grid-item pos">
					<img style="width:100%" class="grid-item-img pos" src="{{ session.get_url(idx) }}" value="{{ idx }}" />
				</div>
				{% endfor %}
			</div>
		</div>
		{% endif %}
		{% if session.neg_idxs %}
		<div class="col">
			<div>Negative:</div>
			<div class="grid neg">
				{% for idx in session.neg_idxs %}
				<div style="max-width: {{ session.size }}px" class="grid-item neg">
					<img style="width:100%" class="grid-item-img neg" src="{{ session.get_url(idx) }}" value="{{ idx }}"/>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endif %}
	</div>

	<hr>

	<!-- Controls -->
	<div class="row">
		<div class="col">
			<div class="form-inline">
				<div class="form-group mr-2">
					<label class="mt-2 mb-2 mr-2">Searching&nbsp;<span class="badge badge-primary">{{ session.model_len }}</span>&nbsp;images in</label>
					<select class="custom-select mt-2 mb-2 mr-2" name="model" onchange="$('.container').hide(); this.form.submit()" form="actions" data-toggle="tooltip" data-placement="top" title="Select a dataset">
						{% if session.public %}
						{% for model in Config.MODEL_NAMES_PUBLIC %}
						<option {{ 'selected' if session.model==model }} value="{{ model }}">{{ model }}</option>
						{% endfor %}
						{% else %}
						{% for model in Config.MODEL_NAMES_PRIVATE + Config.MODEL_NAMES_PUBLIC %}
						<option {{ 'selected' if session.model==model }} value="{{ model }}">{{ model }}</option>
						{% endfor %}
						{% endif %}
					</select>
				</div>
				<div class="form-group mr-2">
					{% if session.public %}
					<input type="button" class="btn btn-light mt-2 mb-2 mr-2" name="btn" value="Upload" data-toggle="tooltip" data-placement="top" title="This function is only available for registered users with a valid institutional email address." disabled>
					{% else %}
					<input type="button" class="btn btn-light mt-2 mb-2 mr-2" name="btn" value="Upload" form="actions"
					onclick="$('#file').trigger('click');" data-toggle="tooltip" data-placement="top" title="Upload and search for a custom image">
					{% endif %}
					<input type="submit" class="btn btn-light mt-2 mb-2 mr-2" name="btn" value="Positive" form="actions" onclick="return_active('add-pos')" data-toggle="tooltip" data-placement="top" title="Confirm selection as positive samples">
					<input type="submit" class="btn btn-light mt-2 mb-2 mr-2" name="btn" value="Negative" form="actions" onclick="return_active('add-neg')" data-toggle="tooltip" data-placement="top" title="Confirm selection as negative samples">
					<input type="submit" class="btn btn-light mt-2 mb-2 mr-2" name="btn" value="Remove" form="actions" onclick="return_active('remove')" data-toggle="tooltip" data-placement="top" title="Remove selection from search lightbox">
					<input type="submit" class="btn btn-light mt-2 mb-2 mr-2" name="btn" value="Clear" form="actions" data-toggle="tooltip" data-placement="top" title="Clear search lightbox, randomize results lightbox">
				</div>
			</div>
			<div class="form-inline">
				<div class="form-group mr-2">
					<label class="mt-2 mb-2 mr-2">Embedding</label>
					<select class="custom-select mt-2 mb-2 mr-2" name="emb_type" onchange="this.form.submit()" form="actions" data-toggle="tooltip" data-placement="top" title="Select embedding type">
						{% for emb_type in session.emb_types %}
						<option {{ "selected" if session.emb_type==emb_type }} value="{{ emb_type }}">{{ emb_type }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group mr-2">
					<label class="mt-2 mb-2 mr-2">Distance</label>
					<select class="custom-select mt-2 mb-2 mr-2" name="metric" onchange="this.form.submit()" form="actions" data-toggle="tooltip" data-placement="top" title="Select distance metric">
						{% for metric in session.metrics %}
						<option {{ "selected" if session.metric==metric }} value="{{ metric }}">{{ metric }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group mr-2">
					<label class="mt-2 mb-2 mr-2">Size</label>
					{% if session.public %}
					<select class="custom-select" name="size" onchange="this.form.submit()" form="actions"  data-toggle="tooltip" data-placement="top" title="This function is only available for registered users with a valid institutional email address." disabled>
					{% else %}
					<select class="custom-select" name="size" onchange="this.form.submit()" form="actions" data-toggle="tooltip" data-placement="top" title="Select thumbnail size">
					{% endif %}
						{% for size in Config.SIZES %}
						<option {{ 'selected' if session.size==size }} value="{{ size }}">{{ size }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group mr-2">
					<label class="mt-2 mb-2 mr-2">Neighbors</label>
					{% if session.public %}
					<select class="custom-select" name="n" onchange="this.form.submit()" form="actions"  data-toggle="tooltip" data-placement="top" title="This function is only available for registered users with a valid institutional email address." disabled>
					{% else %}
					<select class="custom-select" name="n" onchange="this.form.submit()" form="actions" data-toggle="tooltip" data-placement="top" title="Select number of nearest neighbors to display in result lightbox">
					{% endif %}						
					{% for n in Config.NS %}
						<option {{ 'selected' if session.n==n }} value="{{ n }}">{{n}}</option>
						{% endfor %}
					</select>
				</div>
				{% if session.emb_type.startswith("clip"): %}
				<div class="form-inline">
					<div class="form-group mr-2">
						<label class="mt-2 mb-2 mr-2">Prompt</label>
						<input type="text" class="form-control" name="clip_prompt" placeholder="Press return" form=actions>
					</div>	
				</div>	
				{% endif %}
			</div>
		</div>
	</div>

	<hr>

	<!-- Search results -->
	<div class="row">
		<div class="col">
			<div class="grid res">
				{% for idx in session.res_idxs %}
				<div style="max-width: {{ session.size }}px" class="grid-item res">
					<img style="max-width: 100%" class="grid-item-img res" src="{{ session.get_url(idx) }}" value="{{ idx }}" id="{{ idx }}" />				
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<div class="dropdown-menu dropdown-menu-sm" id="context-menu"></div>


<script src="{{ url_for('static', filename='node_modules/packery/dist/packery.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
<script>	
	var $grid_pos = $(".grid.pos").imagesLoaded(function () {
		$grid_pos.packery({columnWidth: {{session.size}}, itemSelector: ".grid-item.pos", gutter: 3});
	});
	
	var $grid_neg = $(".grid.neg").imagesLoaded(function () {
		$grid_neg.packery({columnWidth: {{session.size}}, itemSelector: ".grid-item.neg", gutter: 3});
	});
	
	var $grid_res = $(".grid.res").imagesLoaded(function () {
		$(".container").css("visibility", "visible");
		$grid_res.packery({columnWidth: {{session.size}}, itemSelector: ".grid-item.res", gutter: 3});
	});
	
	$(".grid-item-img").on("click", function (event) {
		$(this).toggleClass("active");
	});
	
	function return_active(select) {
		$(".active").each(function () {
			value = $(this).attr("value");
			console.log(value)
			if (value != undefined){
				$("#" + select).append(new Option(value, value, false, true));
			} else {
				console.log(`${$(this)}'s value yielded undefined`)
			}
		});
	};

	$('.grid-item-img').on('contextmenu', function(event) {
  		var top = event.pageY;
  		var left = event.pageX;
		var idx = $(this).attr('value');
		
		$("#context-menu").html("")
		$("#context-menu").append(`<a class="dropdown-item" target="_blank" href="/full/${idx}">Full-size image</a>`);
		$("#context-menu").append(`<a class="dropdown-item" target="_blank" href="/source/${idx}">Source URL</a>`);
		var disable = '{{ "disabled" if session.public or (not session.clip_prompt) else ""}}'
		$("#context-menu").append(`<a class="dropdown-item ${disable}" target="_blank" href="/explain/${idx}">Explain CLIP</a>`);
  		
		$("#context-menu").css({
    		display: "block",
    		top: top,
    		left: left
  		}).addClass("show");
  		return false; //blocks default
	}).on("click", function() {
  		$("#context-menu").removeClass("show").hide();
	});
	$("#context-menu a").on("click", function() {
		$(this).parent().removeClass("show").hide();
	});

	$(document).bind("click", function(event) {
    	$("#context-menu").removeClass("show").hide();
	});

</script>
{% endblock %}