{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container">

	<!-- Query Images -->
	<div class="row">
		{% if session.data["pos_idxs"] %}
		<div class="col-6">
			<div class="card">
				<div class="card-header text-center">
					Positive
				</div>
				<div class="card-body">
					<div class="row grid">	
						{% for idx in session.data["pos_idxs"] %}
						<div class="col-lg-2 col-md-4 col-sm-6 col-6 px-0 py-0 item" value="{{ idx.idx }}" id="{{ idx.idx }}" onclick="$(this).toggleClass('active');" onerror="$(this).hide();" ondblclick="$('.modal', this).modal('toggle');">
							{{ idx.html|safe }}				
							<div class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-body justify-content-center">
											{{ idx.modal_body|safe }}
										</div>
										<div class="modal-footer justify-content-center">
											{{ idx.modal_footer|safe }}
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		{% if session.data["neg_idxs"] %}
		<div class="col-6">
			<div class="card">
				<div class="card-header text-center">
					Negative
				</div>
				<div class="card-body">
					<div class="row grid">	
						{% for idx in session.data["neg_idxs"] %}
						<div class="col-lg-2 col-md-4 col-sm-6 col-6 px-0 py-0 item" value="{{ idx.idx }}" id="{{ idx.idx }}" onclick="$(this).toggleClass('active');" onerror="$(this).hide();" ondblclick="$('.modal', this).modal('toggle');">
							{{ idx.html|safe }}				
							<div class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-body justify-content-center">
											{{ idx.modal_body|safe }}
										</div>
										<div class="modal-footer justify-content-center">
											{{ idx.modal_footer|safe }}
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>

	<!-- Controls -->

	<div class="card my-3">
		<form action="{{ url_for('interface') }}" method="POST" enctype="multipart/form-data">
			<div class="row py-3 gy-2 gx-2 mx-auto align-items-center justify-content-center">

				<select multiple hidden id="active" name="active"></select>

				<div class="col-auto">
					<select class="form-select" id="n" name="n" onchange="this.form.submit();" {{ "disabled" if not session.config["private"] }}>
						{% for n in session.config["ns"] %}
						<option {{ "selected" if session.config["n"]==n }} value="{{ n }}">{{n}}</option>
						{% endfor %}
					</select>
				</div>

				<div class="col-auto">
					<span class="form-text">of {{ session.config["model_len"] }} in</span>
				</div>

				<div class="col-auto">
					<select class="form-select" id="model" name="model" onchange="this.form.submit();">
						{% for model_name in session.config["model_names"] %}
						<option {{ "selected" if session.config["model_name"]==model_name }} value="{{ model_name }}">{{ model_name }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="col-auto">
					<button class="btn btn-light" type="submit" name="action" value="add_pos" onclick="set_active();">&#x2b;</button>
				</div>

				<div class="col-auto">
					<button class="btn btn-light" type="submit" name="action" value="add_neg" onclick="set_active();">&#8722;</button>
				</div>

				<div class="col-auto">
					<button class="btn btn-light" type="submit" name="action" value="remove" onclick="set_active();">Remove</button>
				</div>

				<div class="col-auto">
					<button class="btn btn-light" type="submit" name="action" value="clear">Clear</button>
				</div>
				
				{% if session.config["emb_type"].startswith("clip"): %}
				<div class="col-auto">
					<input type="text" type="submit" class="form-control" name="prompt" placeholder="CLIP Prompt" />
				</div>

				<div class="col-auto">
					<button class="btn btn-light" type="submit">Go</button>
				</div>
				{% endif %}

				<div class="col-auto">
					<button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapse">...</button>
				</div>

			</div>

			<div class="collapse" id="collapse">
				<div class="row pb-3 gy-2 gx-2 mx-auto align-items-center justify-content-center">

					<div class="col-auto">
						<input class="form-control" type="file" name="upload" onchange="this.form.submit();" />
					</div>

					<div class="col-auto">
						<select class="form-select" id="emb_type" name="emb_type" onchange="this.form.submit();">
							{% for emb_type in session.config["emb_types"] %}
							<option {{ "selected" if session.config["emb_type"]==emb_type }} value="{{ emb_type }}">{{ emb_type }}</option>
							{% endfor %}
						</select>
					</div>

					<div class="col-auto">
						<select class="form-select" id="metric" name="metric" onchange="this.form.submit();">
							{% for metric in session.config["metrics"] %}
							<option {{ "selected" if session.config["metric"]==metric }} value="{{ metric }}">{{ metric }}</option>
							{% endfor %}
						</select>
					</div>

				</div>
			</div>		
		</form>
	</div>

	<!-- Search results -->
	<div class="row grid">	
		{% for idx in session.data["res_idxs"] %}
		<div class="col-lg-1 col-md-2 col-sm-4 col-4 px-0 py-0 item" value="{{ idx.idx }}" id="{{ idx.idx }}" onclick="$(this).toggleClass('active');" onerror="this.hide();" ondblclick="$('.modal', this).modal('toggle');">
			{{ idx.html|safe }}				
			<div class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body justify-content-center">
							{{ idx.modal_body|safe }}
						</div>
						<div class="modal-footer justify-content-center">
							{{ idx.modal_footer|safe }}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

</div>

<script>	

	$(".item").imagesLoaded( function() {
		console.log("Images loaded");
  		$(".grid").masonry({
			percentPosition: true})
	});
	
	function set_active() {
		$(".active").each( function() {
			value = $(this).attr("value");
			if (value != undefined){
				$("#active").append(new Option(value, value, false, true));
			}
		});
	};

</script>
{% endblock %}