<div class="container pb-2 pb-5">
		<col-auto>
			<ul class="nav justify-content-center">
				{% if not current_user.is_anonymous and current_user.id==1 %}
				<li class="nav-item"><a class="nav-link link-dark" href="{{ url_for('interface') }}">Interface</a></li>
				<li class="nav-item"><a class="nav-link link-dark" href="{{ url_for('datasets_private') }}">Datasets</a></li>
				<li class="nav-item"><a class="nav-link link-dark" href="{{ url_for('imprint') }}">Imprint</a></li>
				<li class="nav-item"><a class="nav-link link-dark" href="{{ url_for('users') }}">User Management</a></li>
				<li class="nav-item"><a class="nav-link link-dark" href="{{ url_for('logs') }}">Logs</a></li>
				<li class="nav-item"><a class="nav-link link-dark" href="{{ url_for('logout') }}">Logout</a></li>
				{% elif current_user.is_anonymous %}
				<li class="nav-item"><a class="nav-link link-dark" href="{{ url_for('interface') }}">Interface</a></li>
				<li class="nav-item"><a class="nav-link link-dark" href="{{ url_for('datasets_public') }}">Datasets</a></li>
				<li class="nav-item"><a class="nav-link link-dark" href="{{ url_for('imprint') }}">Imprint</a></li>
				<li class="nav-item"><a class="nav-link link-dark" href="{{ url_for('login') }}">Login</a></li>
				{% elif not current_user.is_anonymous %}
				<li class="nav-item"><a class="nav-link link-dark" href="{{ url_for('interface') }}">Interface</a></li>
				<li class="nav-item"><a class="nav-link link-dark" href="{{ url_for('datasets_private') }}">Datasets</a></li>
				<li class="nav-item"><a class="nav-link link-dark" href="{{ url_for('imprint') }}">Imprint</a></li>
				<li class="nav-item"><a class="nav-link link-dark" href="{{ url_for('logout') }}">Logout</a></li>
			{% endif %} 
			</ul>
		</col-auto>
	</row>
</div>